<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agora12.test.mybatis.dao.MybatisReal_estateDAO">

	<select id ="selectMybatisReal_estate" resultType="com.agora12.test.mybatis.model.MybatisReal_estate" >
	SELECT
		`id`
		,`realtorId`
		,`area`
		,`type`
		,`price`
		,`rentPrice`
		,`createdAt`
		,`updatedAt`
	FROM
		`Real_estate`
	WHERE
		`id` = #{id}
	</select>

</mapper>