<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.agora12.test.jsp.dao.RealDAO">
  
  	<insert id="selectRealDAO" parameterType="com.agora12.test.jsp.realtormodel.RealtorUser"
  	useGeneratedKeys="true" keyProperty="id">
  		
  		INSERT INTO
  			`realtor`
  		(
  			`office`
  			, `phoneNumber`
  			, `address`
  			, `grade`
  			, `createdAt`
  			, `updatedAt`
   		)
  		VALUE
  		(
  			#{office}
  			, #{phoneNumber}
  			, #{address}
  			, #{grade}
  			, now()
  			, now()
  		)
  	
  	</insert>
  
  
  </mapper>