<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.agora12.test.seller.dao.SellerDAO" >
  
  	<insert id="insertSellerDAO" parameterType="map">
  		INSERT INTO
  			`seller`
  			(
  				`nickname`
  				, `temperature`
  				, `profillimage`
  				, `createdAt`
  				, `updatedAt`
  			)
  			VALUE
  			(
  				#{nickname}
  				, #{temperature}
  				, #{profillimage}
  				, now()
  				, now()	
  			)
  	
  	
  	</insert>
  
  	<select id="selectSellerLast" resultType="com.agora12.test.seller.sellmodel.SellModel">
  		
  		SELECT 
  			`nickname`
  			, `temperature`
  			, `profillimage`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`seller`
  		ORDER BY
  			`id` DESC
  		LIMIT
  			1
  	
  	</select>
  
  <select id="selectSeller" parameterType="int"
  resultType="com.agora12.test.seller.sellmodel.SellModel">
  		SELECT 
  			`nickname`
  			, `temperature`
  			, `profillimage`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`seller`
  		WHERE
  			`id` = #{id}
  
  </select>
  
  
  
  </mapper>